* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

img {
    max-width: 100%;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

nav {
    padding: 30px;
}

nav h2 {
    font-size: 45px;
    font-weight: bold;
}

.nav-container ul {
    display: flex;

}

.nav-container li {
    list-style-type: none;
    margin: 0px 20px;

}

.nav-container a {
    text-decoration: none;
    color: #424242;
    font-size: 22px;
}

/* header section */
.header-title {
    text-align: center;
}

.header-title h2 {
    margin-bottom: 20px;
    font-size: 4rem;
}

.header-title p {
    font-size: 1.5rem;
    color: #727272;
    margin-bottom: 20px;
}

.btn {
    background-color: #ff900e;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
    padding: 18px 22px;
    margin-bottom: 30px;
}

/* main section */
.features {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
}

.main-container {
    display: grid;
    flex: 50%;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.main-title {
    flex: 50%;
}

.enjoy {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
    gap: 40px;
}

.enjoy-info {
    border-left: 0.5rem solid #ff900e;
    padding-left: 10px;
    margin-left: 22px;
    font-size: 45px;
    font-weight: bold;

}

.enjoy-card {
    background-color: rgba(9, 222, 222, 0.381);
    margin: 10px;
    border-radius: 10px;
    padding: 15px;
}

.enjoy-title {
    margin-bottom: 10px;
    font-size: 25px;
    font-weight: 600;
}

.enjoy-description {
    font-size: 1.2rem;
    color: #727272;
    margin-bottom: 10px;
}

.icons-container {
    margin-top: 100px;
    margin-bottom: 130px;
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}

.icon {
    border: 1px solid #ff900e;
    padding: 10px 20px;
    border-radius: 5px;
}

.sponsors {
    text-align: center;
    margin-bottom: 50px;
}

.sponsors-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 100px;
}

.sponsors-container img {
    transition: all 0.2s;
    filter: grayscale(100%);
    cursor: pointer;
}

.sponsors-container img:hover {
    transition: all 0.2s;
    filter: grayscale(30%);
}

.footer {
    text-align: center;
    background-color: #fff4e7;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 50px;
}

@media screen and (max-width:576px) {

    .nav-container {
        flex-direction: column;
        margin-bottom: 50px;
        text-align: center;
    }

    .nav-container ul {
        margin: 30px;
        flex-direction: column;

    }

    .features {
        flex-direction: column;
    }

    .enjoy {
        flex-direction: column;
    }

    .icons-container {
        flex-direction: column;
    }

    .sponsors-container {
        flex-direction: column;
        margin: 50px auto;
        margin-left: 100px;

    }

    .sponsors-container img {
        width: 70%;

    }

}